div.banner_bg{
  background-image: url("../../images/banner_avocado_recipe_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* background-position:top; */
  background-position: center;
  width: 100%;
  /* min-width: 1200px; */
  /* min-width: 768px; */
  height: 350px;
  /* border:1px solid red; */
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items:flex-end;
}


@media (max-width:576px) {
  div.banner_bg{
       background-attachment:scroll;
  }
}


span{

  /* font-size: 60px; */
  color: #BBEBAF ;
}

/* 動態 */
.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: flex;
  /* display: inline-block; */
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;


}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #BBEBAF;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
  text-shadow: 2px 0px 2px #505050;
}

@media (max-width:576px) {

  span.text-wrapper span{
    font-size: 65px;
    margin: 0 auto;
  }


}

@media (max-width:414px) {

   h1.ml5{
      text-align: center;
   }
  span.text-wrapper span{
    font-size: 50px;
    margin: 0 auto;
  }
}

/* @media (max-width:320px){
  span.text-wrapper span{
    font-size: 40px;
    margin: 0 auto;
  }
} */
