/* 麵包屑 */
.Breadcrumb_list{
  padding: 0;
  display: flex;
  align-items: flex-end;
  min-height:40px;
  width: 100%;
  /* border: 1px solid black; */
  padding:0 15px;
}

.Breadcrumb_list > li {
  font-size:20px;
  list-style: none;
}

.Breadcrumb_list > li a{
  text-decoration: none;
  color: #707070;
}

.Breadcrumb_list > li::before{
  content: ">";
  color: #707070;
  }

  .Breadcrumb_list>li:nth-child(1)::before{
    content: "";
  }

  @media (max-width:576px){
     div.Breadcrumb_list{
       width: 100%;
     }

  }
  @media (max-width:320px){
    .Breadcrumb_list > li {
      font-size:16px;

    }
  }
